@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFEFA;
  --foreground: #18181B;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
